body {
    background: #000;
    color: #fff;
    font-family: 'Indie Flower', cursive;
}

img {
    display: block;
    margin: 70px auto 50px;
    height: 550px;

}
div {
    position: relative;
    margin: 0 auto;
    width: 1800px;
}

span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 150px;
    text-align: center;
    width: 1800px;
}

#text1 {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
#text2 {
    opacity: 1;
    animation-name: fadeOut;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
